---
import Avatar from "../components/Avatar.astro";
import Grids from "../components/Grids.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="sylenthmen | Redes sociales" />
    <meta
      property="og:description"
      content="galeria de links para facil acceso, aqui podras encontrar todos mis links de mis distintas redes sociales, facebook, instagram, x, twitter, twitch, etc"
    />
    <meta property="og:image" content="/favicon.png" />
    <meta property="og:url" content="https://links.sylenthmen.site" />
    <meta
      name="description"
      content="galeria de links para facil acceso, aqui podras encontrar todos mis links de mis distintas redes sociales, facebook, instagram, x, twitter, twitch, etc"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="sylenthmen | Redes sociales" />
    <meta
      name="twitter:description"
      content="galeria de links para facil acceso, aqui podras encontrar todos mis links de mis distintas redes sociales, facebook, instagram, x, twitter, twitch, etc"
    />
    <meta name="twitter:image" content="/favicon.png" />

    <title>sylenthmen | Redes Sociales</title>
  </head>
  <body class="bg-[#f4f3f3] text-black">
    <Avatar />
    <h1 class="text-3xl text-center font-bold capitalize">@sylenthmen</h1>
    <Grids />
  </body>
</html>
