<footer class="bg-white dark:bg-black shadow-xl mb-0 border-t border-pink-600">
  <div class="flex justify-between p-4">
    <div class="">
      <p>&copy;sylenthmen, 2024</p>
    </div>
    <div>
      <p>
        codigo fuente en <a
          class="font-bold underline text-purple-600"
          href="https://github.com/SylenthMen/LinksCollection">github</a
        >
      </p>
    </div>
  </div>
</footer>
