---
import StrucGrid from "./StrucGrid.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 p-4">
  <StrucGrid
    titu="facebook"
    img="/facebook.svg"
    enlace="https://www.facebook.com/sylenthmen"
    color="bg-blue-600 hover:shadow-xl hover:shadow-blue-600"
  />
  <StrucGrid
    titu="x (twitter)"
    img="/x.svg"
    color="bg-sky-600 hover:shadow-xl hover:shadow-sky-600"
    enlace="https://twitter.com/sylenthmen"
  />
  <StrucGrid
    titu="instagram"
    img="/instagram.svg"
    enlace="https://www.instagram.com/sylenthmen/"
    color="bg-gradient-to-r from-purple-500 to-pink-500 hover:shadow-xl hover:shadow-purple-400"
  />
  <StrucGrid
    titu="spotify"
    img="/spotify.svg"
    enlace="https://open.spotify.com/intl-es/artist/5srgKJwPk1Fo70Uj5Kbrpl?si=8c880d253034440f"
    color="bg-green-400 hover:shadow-xl hover:shadow-green-400"
  />
  <StrucGrid
    titu="twitch"
    img="/twitch.svg"
    color="bg-purple-600 hover:shadow-xl hover:shadow-purple-600"
    enlace="https://www.twitch.tv/sylenthmen"
  />
  <StrucGrid
    titu="tiktok"
    img="/tiktok.svg"
    color="bg-gradient-to-r from-cyan-500 to-pink-500 hover:shadow-xl hover:shadow-pink-600"
    enlace="https://www.tiktok.com/@sylenthmen"
  />
  <StrucGrid
    titu="youtube"
    img="/youtube.svg"
    color="bg-red-600 hover:shadow-xl hover:shadow-red-600"
    enlace="https://www.twitch.tv/sylenthmen"
  />
  <StrucGrid
    titu="soundcloud"
    img="/soundcloud.svg"
    color="bg-orange-600 hover:shadow-xl hover:shadow-orange-600"
    enlace="https://soundcloud.com/sylenthmen"
  />
  <StrucGrid
    titu="github"
    img="/github.svg"
    color="bg-black hover:shadow-xl hover:shadow-black"
    enlace="https://soundcloud.com/sylenthmen"
  />
  <StrucGrid
    titu="patreon"
    img="/patreon.svg"
    color="bg-black hover:shadow-xl hover:shadow-black"
    enlace="https://www.patreon.com/sylenthmen"
  />
  <StrucGrid
    titu="linkedin"
    img="/linkedin.svg"
    color="bg-sky-700 hover:shadow-xl hover:shadow-sky-700"
    enlace="https://www.linkedin.com/in/sylenthmen/"
  />
</div>
